classifier1=rseslib.processing.classification.tree.c45.C45Vis
classifier2=rseslib.processing.classification.rules.AQ15Classifier
classifier3=rseslib.processing.classification.rules.roughset.VisualRoughSetClassifier
classifier4=rseslib.processing.classification.neural.VisualNeuronNetwork
classifier5=rseslib.processing.classification.parameterised.knn.KnnVis
classifier6=rseslib.processing.classification.parameterised.knn.LocalKnnClassifier
classifier7=rseslib.processing.classification.parameterised.knn.rionida.RIONIDA
classifier8=rseslib.processing.classification.bayes.NaiveBayesClassifier
classifier9=rseslib.processing.classification.svm.SVM
classifier10=rseslib.processing.classification.parameterised.pca.PcaClassifierVis
classifier11=rseslib.processing.classification.parameterised.pca.LocalPcaClassifier
